{% extends 'base.html' %}

{% block about_us %}active{% endblock %}

{% block content %}
<div class="aboutus" style="height: 586px; width: 100%;">
    <section class="cards" id="About us" style="height: 100%; width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div class="content">
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/ibrahim-hisham-alkhouly-1b80a1245/" target="_blank">
                        <img src="../static/img/kholy.jpeg" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Ibrahim Hesham</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/ahmd-eltokhey-8577b3275/" target="_blank">
                        <img src="../static/img/tokhy.jpeg" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Ahmed El-Tokhey</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/ahmed-adel-b748aa23b/" target="_blank">
                        <img src="../static/img/adel.png" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Ahmed Adel</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/eslam-khalifa-40a421237/" target="_blank">
                        <img src="../static/img/eslam.jpeg" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Eslam Khalifa</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/mohammed-rehab-8211b6309/" target="_blank">
                        <img src="../static/img/rehab.jpg" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Mohammed Rehab</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/mohammed-karam2/" target="_blank">
                        <img src="../static/img/karam.jpeg" style="width: 100%;"/>
                    </a>
                </div>
                <div class="info">
                    <h3>Mohammed Karam</h3>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}