{% extends 'base.html' %}

{% block absence %}active{% endblock %}

{% block content %}
<div class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    
    <!-- Radio Buttons and Forms -->
    <div style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <!-- Search Form -->
        <h1 style="color: var(--primary); margin-top: 10px;">Search Absence</h1>
        <div class="form-section search-machine-form" style="width: 100%; margin-left: auto;">
            <div class="get_from_database px-2" style="width: 100%;">
                <form method="GET">
                    <div class="input-group">
                        <select id="filter" onchange="updateInputField()" class="form-select border-primary w-5" style="height: 60px;" name="search">
                            <option value="getAll">Get All</option>
                            <option value="absenceDate">Absence Date</option>
                        </select>
                      
                        <input type="text" style="display: none;" id="textInput" class="form-control border-primary w-45" placeholder="Keyword" name="value_text">
                        <button type="submit" class="btn btn-dark border-0 w-25">Search</button>
                    </div>
                </form>
                <div class="div_table" style="margin-top: 10px; text-align: center; max-height: 430px; overflow: auto;">
                    <table class="table table-hover" style="border-collapse: separate; border-spacing: 2px;">
                        <thead>
                            <tr>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Absence Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Absence Reason</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Supervisor Name</th>

                            </tr>
                        </thead>
                        <tbody>
                          {% for absence in absences %}
                          <tr>
                              <td class="absence-name" style="background-color: #d8e2ea; color: #44677d;">{{ absence.absence_name }}</td>
                              <td class="absence-reason" style="background-color: #d8e2ea; color: #44677d;">{{ absence.absence_reason }}</td>
                              <td class="supervisor-name" style="background-color: #d8e2ea; color: #44677d;">{{ absence.supervisor_name }}</td>
                              
                          </tr>
                          {% endfor %}
                      </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    
<h1 style="color: var(--primary); margin-top: 10px; text-align: center;">Add Absence</h1>
<div class="form-section add-absence-form" style="width: 100%; margin-left: auto; margin-bottom: 10px;">
    <div class="post_to_database px-2" style="width: 100%;">
        <div class="bg-white text-center rounded p-4">
            <form method="POST">
                <div class="row g-3" style="display: flex; justify-content: center;">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-light border-0" placeholder="Name" style="height: 55px;" name="absence_name">
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="date" id="date" data-target-input="nearest">
                            <input type="text"
                            class="form-control bg-light border-0 datetimepicker-input"
                                    placeholder="Absence Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;" name="absence_date">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="text" class="form-control bg-light border-0" placeholder="Absence Reason" style="height: 55px;" name="reason">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-light border-0" placeholder="Absence Status" style="height: 55px;" name="absence_status" value="pending">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-light border-0" placeholder="Approved By (Supervisor Name)" style="height: 55px;" name="approved_by">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Add Absence</button>
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>
{% endblock %}