{% extends 'base.html' %}

{% block departments %}active{% endblock %}

{% block content %}
<div class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
            
    <!-- Radio Buttons and Forms -->
    <div style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <!-- Add Form -->
        <h1 style="color: var(--primary); margin-top: 10px; text-align: center;">Edit A Department</h1>
        <div class="form-section add-department-form" style="width: 100%; margin-left: auto; margin-bottom: 10px;">
            <div class="post_to_database px-2" style="width: 100%;">
                <div class="bg-white text-center rounded p-4">
                    <form method="POST">
                        <div class="row g-3" style="display: flex; justify-content: center;">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Name" style="height: 55px;" name="name" value="{{department.department_name}}">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;" name="head">
                                    <option>Choose Head</option>
                                    {% for head in heads %}
                                    <option {% if department_name == department.head_name %}selected{% endif %}>{{ head.head_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0" placeholder="Description" style="height: 55px;" name="description" value="{{department.department_description}}">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Edit A Department</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}