{% extends 'base.html' %}

{% block machines %}active{% endblock %}

{% block content %}
<div class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Radio Buttons and Forms -->
    <div style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <input type="radio" id="add-machine" name="action" checked>
        <label for="add-machine" style="width: 200px; font-weight: bold; text-align: center; margin-right: 10px;" >Add Machine</label>

        <input type="radio" id="search-machine" name="action">
        <label for="search-machine" style="width: 200px; font-weight: bold; text-align: center;" >Search Machine</label>

        <!-- Add Form -->
        <div class="form-section add-machine-form" style="width: 100%; margin-left: auto;">
            <div class="post_to_database px-2" style="width: 100%;">
                <div class="bg-white text-center rounded p-4">
                    <form method="POST">
                        <div class="row g-3" style="display: flex; justify-content: center;">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Name" style="height: 55px;" name="name">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Purchase Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;" name="purchase_date">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;" name="department">
                                    <option selected>Choose Department</option>
                                    {% for department_name in department_names %}
                                    <option>{{ department_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;" name="room">
                                    <option selected>Choose Room Number</option>
                                    {% for room_number in room_numbers %}
                                    <option>{{ room_number }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Price" style="height: 55px;" name="price">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;" name="is_working">
                                    <option selected>Busy Or Free</option>
                                    <option>Busy</option>
                                    <option>Free</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="text" class="form-control bg-light border-0" placeholder="About" style="height: 55px;" name="about">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Add A Machine</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>

        <!-- Search Form -->
        <div class="form-section search-machine-form" style="width: 100%; margin-left: auto;">
            <div class="get_from_database px-2" style="width: 100%;">
                <form method="GET">
                    <div class="input-group">
                        <select class="form-select border-primary w-5" style="height: 60px;" name="search">
                            <option selected>Get All</option>
                            <option value="1">Machine Name</option>
                            <option value="2">Department Name</option>
                            <option value="3">Room Number</option>
                            <option value="4">Is Working</option>
                        </select>
                        <input type="text" class="form-control border-primary w-45" placeholder="Keyword" name="value">
                        <button type="submit" class="btn btn-dark border-0 w-25">Search</button>
                    </div>
                </form>
                <div class="div_table" style="margin-top: 10px; text-align: center; max-height: 430px; overflow: auto;">
                    <table class="table table-hover" style="border-collapse: separate; border-spacing: 2px;">
                        <thead>
                            <tr>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Machine Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Time Of Purchase</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Department Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Room Number</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Price</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">About</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Is Working?</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines %}
                                <tr>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.machine_name }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.time_of_purchase }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.department_name}}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.room_number }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.price }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.about }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">{{ machine.is_working }}</td>
                                    <td style="background-color: #d8e2ea; color: #44677d;">
                                        <div style="display: flex;">
                                            <div style="width: 25px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#63E6BE" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg>
                                            </div>
                                            <div style="width: 25px; margin-left: 10px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}