
{% extends 'base.html' %}

{% block patients %}active{% endblock %}

{% block content %}
<div class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
            
    <!-- Radio Buttons and Forms -->
    <div style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
        <!-- Search Form -->
        <h1 style="color: var(--primary); margin-top: 10px;">Search patient</h1>
        <div class="form-section search-patient-form" style="width: 100%; margin-left: auto;">
            <div class="get_from_database px-2" style="width: 100%;">
                <form method="GET">
                    <div class="input-group">
                        <select id="filter" onchange="updateInputField();" class="form-select border-primary w-5" style="height: 60px;" name="search">
                            <option value="getAll">Get All</option>
                            <option value="First Name">First Name</option>
                            <option value="Full Name">Full Name</option>
                            <option value="Date Of Birth">Date Of Birth</option>
                            <option value="Gender">Gender</option>
                            <option value="Phone Number">Phone Number</option>
                            <option value="Room Number">Room Number</option>
                            <option value="Bed Number">Bed Number</option>
                            <option value="patient Status">Patient Status</option>
                        </select>
                        <select id="dropdownRoom" style="display: none;" class="w-5 form-select border-primary" name="value_room">
                            {% for room in rooms %}
                                <option>{{ room }}</option>
                            {% endfor %}
                        </select>
                        
                        <select id="dropdownBed" style="display: none;" class="w-5 form-select border-primary" name="value_bed">
                            {% for bed in beds %}
                                <option>{{ bed }}</option>
                            {% endfor %}
                        </select>
                        <select id="dropdownInput" style="display: none;" class="w-5 form-select border-primary" name="value_gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <select id="dropdownInput3" style="display: none;" class="w-5 form-select border-primary" name="value3" onchange="updateDays()">
                            {% for number in range(1900, 2026) %}
                                <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>                        
                        <select id="dropdownInput2" style="display: none;" class="w-5 form-select border-primary" name="value2" onchange="updateDays()">
                            {% for number in range(1, 13) %}
                                <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                        <select id="dropdownInput1" style="display: none;" class="w-5 form-select border-primary" name="value1">
                            {% for number in range(1, 31) %}
                                <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" style="display: none;" id="textInput" class="form-control border-primary w-45" placeholder="Keyword" name="value">
                        <button type="submit" class="btn btn-dark border-0 w-25">Search</button>
                    </div>
                </form>
                <div class="div_table" style="margin-top: 10px; text-align: center; max-height: 430px; overflow: auto;">
                    <table class="table table-hover" style="border-collapse: separate; border-spacing: 2px;">
                        <thead>
                            <tr>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">First Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Middle Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Last Name</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Date Of Birth</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Gender</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Patient Entry Date</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Phone Number</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Room Number</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Bed Number</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Patient Status</th>
                                <th style="background-color: white; color: black; font-weight: bold; font-size: 18px;">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr data-id="{{patient_id}}">
                                <td class="patient-name" style="background-color: #d8e2ea; color: #44677d;">{{ patient.first_name }}</td>
                                <td class="purchase-date" style="background-color: #d8e2ea; color: #44677d;">{{ patient.middle_name }}</td>
                                <td class="department" style="background-color: #d8e2ea; color: #44677d;">{{ patient.last_name}}</td>
                                <td class="room" style="background-color: #d8e2ea; color: #44677d;">{{ patient.date_of_birth }}</td>
                                <td class="price" style="background-color: #d8e2ea; color: #44677d;">{{ patient.gender }}</td>
                                <td class="about" style="background-color: #d8e2ea; color: #44677d;">{{ patient.patient_entry_date }}</td>
                                <td class="is-working" style="background-color: #d8e2ea; color: #44677d;">{{ patient.phone_number }}</td>
                                <td class="is-working" style="background-color: #d8e2ea; color: #44677d;">{{ patient.room_number }}</td>
                                <td class="is-working" style="background-color: #d8e2ea; color: #44677d;">{{ patient.bed_number }}</td>
                                <td class="is-working" style="background-color: #d8e2ea; color: #44677d;">{{ patient.patient_status }}</td>
                                <td style="background-color: #d8e2ea; color: #44677d;">
                                    <div style="display: flex;">
                                        <a href="/edit_patient/{{ patient.patient_id }}" style="width: 25px;">
                                            <i class="fa-solid fa-pen" style="color: #8f8f8f; font-size: 28px;" data-id="1"></i>
                                        </a>
                                        <a href="/delete_patient/{{ patient.patient_id }}" style="width: 25px; margin-left: 10px;">
                                            <i class="fa-solid fa-trash" style="color: #ff0000; font-size: 28px;" data-id="2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Add Form -->
    <h1 style="color: var(--primary); margin-top: 10px; text-align: center;">Add Patient</h1>
    <div class="form-section add-patient-form" style="width: 100%; margin-left: auto; margin-bottom: 10px;">
        <div class="post_to_database px-2" style="width: 100%;">
            <div class="bg-white text-center rounded p-4">
                <form method="POST">
                    <div class="row g-3" style="display: flex; justify-content: center;">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-light border-0" placeholder="First Name" style="height: 55px;" name="first_name">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-light border-0" placeholder="Middle Name" style="height: 55px;" name="middle_name">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-light border-0" placeholder="Last Name" style="height: 55px;" name="last_name">
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control bg-light border-0 datetimepicker-input" 
                                       placeholder="Date Of Birth" data-target="#date1" data-toggle="datetimepicker" 
                                       style="height: 55px;" name="date_of_birth">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <select class="form-select bg-light border-0" style="height: 55px;" name="gender">
                                <option selected>Choose Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="text" class="form-control bg-light border-0 datetimepicker-input" 
                                       placeholder="Patient Entry Date" data-target="#date2" data-toggle="datetimepicker" 
                                       style="height: 55px;" name="patient_entry_date">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-light border-0" placeholder="Phone Number" style="height: 55px;" name="phone_number">
                        </div>
                        <div class="col-12 col-sm-6">
                            <select class="form-select bg-light border-0" style="height: 55px;" name="room_number">
                                <option selected>Choose Room Number</option>
                                {% for room in rooms %}
                                <option>{{ room }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <select class="form-select bg-light border-0" style="height: 55px;" name="bed_number">
                                <option selected>Choose Bed Number</option>
                                {% for bed in beds %}
                                <option>{{ bed }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-light border-0" placeholder="Patient Status" style="height: 55px;" name="patient_status">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Add A patient</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>            
    </div>
</div>
{% endblock %}